.header {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Dovemayo_gothic';
  font-size: 20px;

  .menu-left,
  .menu-right {
    display: flex;
    gap: 20px;
    color: black;
    font-family: 'Dovemayo_gothic';
    
    a {
      text-decoration: none;
      color: inherit; 
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    a.gopro-link {
      color: green;
    }

    a.signup-link {
      background-color: #CBE6B7;  // Adjust this to the specific light green you want
    }

    a.mypage-link {
      background-color: #86DE51; // Adjust this to the specific dark green you want
    }
  }

  img {
    height: 50px;
  }
}
