.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
  background-image: url('../assets/image/Background.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;  // Ensure that child elements do not get cut-off 

  .button-container {
    display: flex;
    justify-content: center; // center align buttons
    gap: 20px; // space between buttons
    position: absolute;
    top: 120px; // position below the header
    width: 100%;
  }
  
  .button {
    height: 60px;
    border-radius: 30px;
    background-color: rgba(30, 30, 30, 0.58);
    color: white;
    transition: 0.3s; 
    text-align: center;
    line-height: 60px; 
    display: inline-block; 
    padding: 0 20px; 
    
    &:hover {
      background-color: white;
      color: black;
    }
  }
 
  .center-text {
    color:azure;
    font-family: 'Dovemayo_gothic';
    font-size: 30px;
    position: absolute;
    top: 240px; 
    width: 100%;
    text-align: center;

  }
  .green-text {
    color:#62A443;
  }
  .sub-text{
    color:azure;
    font-family: 'Dovemayo_gothic';
    font-size: 20px;
    position: absolute;
    top: 400px; 
    width: 100%;
    text-align: center;
  }
   
  .search-box {
    position: absolute; 
    top: 500px;
    left: 50%; 
    transform: translateX(-50%); 
    display: block;
    width: 900px;
    height: 65px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 0 20px; 
    font-size: 1em; 
  }
}
