.footer {
  background-color: gray;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Dovemayo_gothic';
  font-size: 13px;

  h3 {
    margin: 0;
    font-family: 'Dovemayo_gothic';
  }

  p {
    margin: 0;
    font-family: 'Dovemayo_gothic';
  }
}
